name: CI for pull request

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Prepare local.properties for testing
      run: echo "sdk.dir=$ANDROID_HOME" > local.properties
    - name: Build with Gradle
      run: ./gradlew clean check --stacktrace
